h1 {
  color: #fff;
}

.card {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  width: 100%;
}

.card p {
  font-size: larger;
}

.card img {
  max-width: 300px;
}
