.forecast-card {
  background-color: rgba(177, 176, 176, 0.21);
  border-radius: 10px;
  box-shadow: 0px 4px 10px #080808;
  margin: 20px 20px;
  display: flex;
  padding: 15px;
  text-align: center;
  max-width: 350px;
}

p {
  color: aliceblue;
}

.left {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  max-width: 30%;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
}

.day-night {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.day-night img {
  max-width: 30px;
  height: auto;
}

@media screen and (max-width: 425px) {
  .forecasts h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 375px) {
  p {
    font-size: 0.9em;
  }
  .forecasts h1 {
    font-size: 1.5em;
  }
}
